.card{
    border-radius: 10px;
    background-color: goldenrod
}

.search-list{
    border-radius: 15px;
    background-color: greenyellow
}

.saveBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}